<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilo1.css') }}">
    <title>Site RS9</title>
</head>
<body>
    <main>
        <h1><span class="logo">RS9</span> Janeiro/ 2022</h1>
        <h2>Contato</h2>
    </main>
    <section>
        <h3>Fale conosco</h3>
        <p><img src="../static/imgs/email.png" alt="email"><a href="mailto:jorns001@gmail.com"> email us</a></p>
        <p><img src="../static/imgs/whatsapp-50.png" alt="phone"><a href="(11) 972696163">(11) 97269-6163</a></p>
    </section>
    <section>
        <p class="btnReturn"><a href="/" target="_self">voltar</a></p>
    </section>
    <footer>
        <p class="rodape">&COPY; 2022 Jorns 
        <span class="direita">Site produzido por RS9</span></p>
    </footer>
</body>
</html>