<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilo1.css') }}">
    <title>Site RS9</title>
</head>
<body>
    <main>
        <h1><span class="logo">RS9</span> Janeiro/ 2022</h1>
        <h2>Wellcome</h2>
        <section>
            <p class="btnReturn"><a href="/contato" target="_self">Contato</a></p>
        </section>
    </main>
    <footer>
        <p class="rodape">&COPY; 2022 Jorns 
        <span class="direita">Site produzido por RS9</span></p>
    </footer>
</body>
</html>